{% extends 'account/layout.html' %} 
{% load static humanize mathfilters jalali_tags %} 
{% block title %}جزئیات تفاهم نامه{%endblock %} 

{% block content %}
<div class="col-md-12 ">
  <!--Panel-->
  <div class="panel panel-default" id="validation2">
    <div class="panel-heading">
      <div class="panel-title">
        {{tafahom.organization.title}}<small>{{tafahom.miz.title}}</small>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">شماره تفاهم نامه</label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{tafahom.num}}"
            />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">تاریخ ایجاد</label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{tafahom.createDate|to_jalali:'%Y/%m/%d'}}"
            />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group {% if tafahom.expirDate and tafahom.is_expiered %}has-error {% else %} has-success{% endif %} has-feedback" >
            <label class="control-label">تاریخ انقضاء</label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{tafahom.expirDate|to_jalali:'%Y/%m/%d'}}"
            />
            {% if tafahom.expirDate and tafahom.is_expiered %}
              <span class="glyphicon glyphicon-remove form-control-feedback" ></span>
            {% else %}
              <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            {% endif %}
            {% if tafahom.expirDate %}
              {% if tafahom.is_expiered %}
                <span class="help-block">{{ tafahom.expirDate|timesince }} گذشته</span>
              {% else %}
                <span class="help-block">{{ tafahom.expirDate|timeuntil }} مانده</span>
              {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">ردیف وام</label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{tafahom.loanRow|default_if_none:'ندارد'}}"
            />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">شماره حساب</label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{tafahom.hesab|default_if_none:'ندارد'}}"
            />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">کد کانون</label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{tafahom.code_kanun|default_if_none:'ندارد'}}"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">سقف مبلغ</label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{tafahom.mablagh_limit|intcomma:False|default_if_none:'ندارد'}}"
            />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">سقف مدت</label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{tafahom.modat_limit|default_if_none:'ندارد'}}"
            />
          </div>
        </div>

        <div class="col-md-1">
          <div class="form-group">
            <label class="control-label">مسدود؟</label>
            <input
              type="checkbox"
              {%
              if
              tafahom.is_blocked
              %}checked{%
              endif
              %}
              disabled
              class="form-control"
              value="{{tafahom.is_blocked}}"
            />
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label class="control-label">بیمه؟</label>
            <input
              type="checkbox"
              {%
              if
              tafahom.is_bime
              %}checked{%
              endif
              %}
              disabled
              class="form-control"
              value="{{tafahom.is_bime}}"
            />
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label class="control-label">ارسال امضا؟</label>
            <input
              type="checkbox"
              {%
              if
              tafahom.by_sign
              %}checked{%
              endif
              %}
              disabled
              class="form-control"
              value="{{tafahom.by_sign}}"
            />
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label class="control-label">نوع وام</label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{tafahom.retern_type|default_if_none:'ندارد'}}"
            />
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">تائید کننده</label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{tafahom.verifier|default_if_none:'ندارد'}}"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">جمع مبالغ تخصیص</label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{tafahom.total_res|intcomma:False}}"
            />
          </div>
        </div>
        {% for mprtt in res_type %}
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">{{mprtt.res_type}} </label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{mprtt.mablagh|intcomma:False}}"
            />
          </div>
        </div>
        {% endfor %}
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">سقف نفرات</label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{tafahom.person_limit|default_if_none:'ندارد'}}"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">جمع مبالغ پرداختی</label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{tafahom.total_vaam|intcomma:False}}"
            />
          </div>
        </div>
        {% for mprt in tafahom.totals_vaam_PRT %}
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">{{mprt.res_type__title}} </label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{mprt.total_mablagh|intcomma:False}}"
            />
          </div>
        </div>
        {% endfor %}
        <div class="col-md-2">
          <div class="form-group">
            <label class="control-label">جمع نفرات پرداخت شده</label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{vaams.count}}"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <div
            class="form-group {% if total_res_type|sub:total_vaam <= 0 %}has-error {% else %} has-success{% endif %} has-feedback"
          >
            <label class="control-label"> مانده تخصیص</label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{ tafahom.remain_res |intcomma:False}}"
            />
            {% if total_res_type|sub:total_vaam <= 0 %}
            <span
              class="glyphicon glyphicon-remove form-control-feedback"
            ></span>
            {% else %}
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            {% endif %}
          </div>
        </div>
        {% for mprt in tafahom.totals_vaam_PRT %} {% for mprtt in res_type %} 
        {%if mprt.res_type__title == mprtt.res_type.title %}
        <div class="col-md-2">
          <div
            class="form-group {% if mprtt.mablagh|sub:mprt.total_mablagh <= 0 %}has-error {% else %} has-success{% endif %} has-feedback"
          >
            <label class="control-label">{{mprt.res_type__title}} </label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{mprtt.mablagh|sub:mprt.total_mablagh |intcomma:False}}"
            />
            {% if mprtt.mablagh|sub:mprt.total_mablagh <= 0 %}
            <span
              class="glyphicon glyphicon-remove form-control-feedback"
            ></span>
            {% else %}
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            {% endif %}
          </div>
        </div>
        {% endif %} {% endfor %} {% endfor %} 
        {% if tafahom.person_limit > 0 %}
        <div class="col-md-2">
          <div
            class="form-group {% if tafahom.person_limit|sub:vaams.count <= 0 %}has-error {% else %} has-success{% endif %} has-feedback"
          >
            <label class="control-label">مانده نفرات</label>
            <input
              type="text"
              disabled
              class="form-control"
              value="{{tafahom.person_limit|sub:vaams.count}}"
            />
            {% if tafahom.person_limit|sub:vaams.count <= 0 %}
            <span
              class="glyphicon glyphicon-remove form-control-feedback"
            ></span>
            {% else %}
            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
      <div class="row oakenwidgets">
      <div class="col-md-12 ui-sortable ">
        <div class="panel panel-info" id="forms2">
          <div class="panel-heading ui-sortable-handle">
            <div class="panel-title">استعلام <small>تسهیلات جدید</small> </div>
            
            <div class="clearfix"></div>
          </div>
            <div class="panel-body">

          <form
            action="{% url 'tafahom:detail' tafahom.id %}"
            method="POST"
            enctype="multipart/form-data"          >
            {% csrf_token %}
            <fieldset>
              <input type="hidden" name="tafahom_id" value="{{tafahom.id}}" />
              {% comment %} <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label" for="textinput-normal">شماره نامه</label >
                    <input  id="textinput-normal"  name="textinput-normal"    placeholder="شماره نامه" class="form-control" type="text" />
                  </div>
                </div>

              </div> {% endcomment %}
              <div class="row">
                <div class="col-md-4">
                <div class="form-group">
                  <label class=" control-label" for="filebutton-normal">ارسال فایل</label>
                  <span>شامل ستون های</span>[
                  <span>کد ملی</span>,
                  <span>مبلغ</span>,
                  <span>مدت</span>,
                  <span>توضیحات</span>]
                  <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                          جستجو <input id="excel_file"
                          name="excel_file" type="file" >
                        </span>
                    </span>
                    <input type="text" class="form-control" readonly="">
                  </div>

                </div>
               </div>
               <div class="col-md-6">
                <div class="form-group">
                  <label class=" control-label" for="filebutton-normal"></label>
                  <div class="input-group">
               <button type="submit" class="btn btn-success">ارسال</button>
              </div></div></div>
              </div>
            </fieldset>
          </form>
          {% if ws %}
          <div class="col-md-12 ui-sortable">
            <h4 style="float:right;">لیست تسهیلات جدید</h4>
            <div class="pull-left">
              <a class="btn btn-warning btn-circle-sm tooltiped" href="{% url 'tafahom:download_file' download_file_name %}" 
               download 
               data-toggle="tooltip" data-placement="top" title="" 
              data-original-title="دانلود فایل اکسل موجود"><i class="fa fa-cloud-download"></i></a>

              <a class="btn btn-info btn-circle-sm tooltiped" href="#"  
              data-toggle="tooltip" data-placement="top" title="" 
              data-original-title="دانلود فایل اکسل قالب"><i class="fa fa-download"></i></a>
            </div>
            <div class="clearfix"></div>
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>کد ملی</th>
                    <th>مبلغ</th>
                    <th>مدت</th>
                    <th>توضیحات</th>
                  </tr>
                </thead>
                <tbody>
                  
                  {% for vm in ws %} 
                  <tr class="{% if vm.3 != "" %}warning{% endif %}" >
                    <td>{{forloop.counter}}</td>
                    <td>{{ vm.0 }}</td>
                    <td>
                      {% if tafahom.mablagh_limit and vm.1 > tafahom.mablagh_limit %}
                      <span class="label label-danger">
                        {{ vm.1|intcomma:False }} </span>{% else %}{{ vm.1|intcomma:False }}{% endif %}
                    </td>
                    <td>
                      {% if tafahom.modat_limit and vm.2 > tafahom.modat_limit %}
                      <span class="label label-danger"> {{ vm.2 }} </span>
                      {% else %}{{ vm.2 }}{% endif %}
                    </td>
                    <td>{{vm.3}}</td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
        </div>
        </div>
      </div>
    </div>
      <div class="col-md-12 ui-sortable">
        <h4>لیست تسهلات</h4>

        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>شماره <small>نامه</small></th>
                <th>تاریخ <small>نامه</small></th>
                <th>تاریخ واریز</th>
                <th>کد ملی</th>
                <th>مبلغ</th>
                <th>مدت</th>
                <th>نوع منبع</th>
              </tr>
            </thead>
            <tbody>
              {% for vaam in vaams %} {% comment %} {% with
              lmablagh=tafahom.mablagh_limit|default:0 > 0 and vaam.mablagh >
              tafahom.mablagh_limit|default:0
              lmodat=(tafahom.modat_limit|default:0 > 0 and vaam.modat >
              tafahom.modat_limit|default:0) %} {% endcomment %}
              <tr
                class="{% if tafahom.mablagh_limit != none and vaam.mablagh > tafahom.mablagh_limit or tafahom.modat_limit and vaam.modat > tafahom.modat_limit %}warning{% endif %}"
              >
                <td>{{forloop.counter}}</td>
                <td>{{ vaam.mail_num }}</td>
                <td>{{ vaam.mail_date|to_jalali:'%Y/%m/%d' }}</td>
                <td>{{ vaam.action_date|to_jalali:'%Y/%m/%d' }}</td>
                <td>{{ vaam.code_meli }}</td>
                <td>
                  {% if tafahom.mablagh_limit and vaam.mablagh > tafahom.mablagh_limit %}<span class="label label-danger">
                    {{ vaam.mablagh|intcomma:False }} </span>
                    {% else %}
                    {{ vaam.mablagh|intcomma:False }}
                    {% endif %}
                </td>
                <td>
                  {% if tafahom.modat_limit and vaam.modat > tafahom.modat_limit %}
                  <span class="label label-danger"> {{ vaam.modat }} </span>
                  {% else %}{{ vaam.modat }}{% endif %}
                </td>
                <td>{{ vaam.res_type }}</td>
              </tr>
              {% comment %} {% endwith %} {% endcomment %} {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/Panel Body-->
  </div>
  <!--/Panel-->
</div>

{% endblock content %}
