{% extends 'account/layout.html' %}
{% load humanize %}
{% load jalali_tags %}
 {% load static %} 
 {% block title %}جزئیات تفاهم نامه{% endblock %} 

{% block content %}
<div class="col-md-12">
  <!--Panel-->
  <div class="panel panel-default" id="validation2">
    <div class="panel-heading">
      <div class="panel-title">{{tafahom.organization.title}}<small>{{tafahom.miz.title}}</small></div>
    </div>
    <div class="panel-body">
      <div class="row">
        
          <div class="col-md-2">
            <div class="form-group has-feedback">
              <label class="control-label" >شماره تفاهم نامه</label>
              <input type="text" disabled class="form-control" value="{{tafahom.num}}"/>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-feedback">
              <label class="control-label" >تاریخ ایجاد</label>
              <input type="text" disabled class="form-control" value="{{tafahom.JcreateDate}}"/>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group {% if tafahom.is_expiered %}has-error{% endif %} has-feedback">
              <label class="control-label" >تاریخ انقضاء</label>
              <input type="text" disabled class="form-control" value="{{tafahom.expirDate|to_jalali:'%Y/%m/%d'}}"/>
              {% if tafahom.is_expiered %}
              <span class="glyphicon glyphicon-remove form-control-feedback"></span>
              {% else  %}
              <span class="glyphicon glyphicon-ok form-control-feedback"></span>
              {% endif %}
              
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-feedback">
              <label class="control-label" >ردیف وام</label>
              <input type="text" disabled class="form-control" value="{{tafahom.loanRow}}"/>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-feedback">
              <label class="control-label" >شماره حساب</label>
              <input type="text" disabled class="form-control" value="{{tafahom.hesab}}"/>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group has-feedback">
              <label class="control-label" >کد کانون</label>
              <input type="text" disabled class="form-control" value="{{tafahom.code_kanun}}"/>
            </div>
          </div>
      </div>
      <div class="row">
        
        <div class="col-md-2">
          <div class="form-group has-feedback">
            <label class="control-label" >سقف مبلغ</label>
            <input type="text" disabled class="form-control" value="{{tafahom.mablagh_limit}}"/>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group has-feedback">
            <label class="control-label" >سقف مدت</label>
            <input type="text" disabled class="form-control" value="{{tafahom.modat_limit}}"/>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group has-feedback">
            <label class="control-label" >سقف نفرات</label>
            <input type="text" disabled class="form-control" value="{{tafahom.person_limit}}"/>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group has-feedback">
            <label class="control-label" >مسدود؟</label>
            <input type="checkbox" {% if tafahom.is_blocked %}checked{% endif %} disabled class="form-control" value="{{tafahom.is_blocked}}"/>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group has-feedback">
            <label class="control-label" >بیمه؟</label>
            <input type="checkbox" {% if tafahom.is_bime %}checked{% endif %} disabled class="form-control" value="{{tafahom.is_bime}}"/>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group has-feedback">
            <label class="control-label" >ارسال امضا؟</label>
            <input type="checkbox" {% if tafahom.by_sign %}checked{% endif %} disabled class="form-control" value="{{tafahom.by_sign}}"/>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group has-feedback">
            <label class="control-label" >نوع وام</label>
            <input type="text" disabled class="form-control" value="{{tafahom.retern_type}}"/>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group has-feedback">
            <label class="control-label" >تائید کننده</label>
            <input type="text" disabled class="form-control" value="{{tafahom.verifier}}"/>
          </div>
        </div>
    </div>
      <div class="row">
        
        <div class="col-md-2">
          <div class="form-group has-feedback">
            <label class="control-label" >جمع مبالغ واریزی</label>
            <input type="text" disabled class="form-control" value="{{total_mablagh|intcomma:False}}"/>
          </div>
        </div>
        {% for mprt in total_prt %}
        <div class="col-md-2">
          <div class="form-group has-feedback">
            <label class="control-label" >{{mprt.res_type__title}} </label>
            <input type="text" disabled class="form-control" value="{{mprt.total_mablagh|intcomma:False}}"/>
          </div>
        </div>
        {% endfor %}
        
    </div>
    </div>
    <!--/Panel Body-->
  </div>
  <!--/Panel-->
</div>
<hr>

<h2>Vaam Entries</h2>

<p>Total Mablagh: {{ total_mablagh }}</p>

<table>
  <thead>
    <tr>
      <th>شماره نامه</th>
      <th>تاریخ نامه</th>
      <th>تاریخ شروع</th>
      <th>کد ملی</th>
      <th>مبلغ</th>
      <th>مدت</th>
      <th>نوع منبع</th>
    </tr>
  </thead>
  <tbody>
    {% for vaam in vaams %}
    <tr>
      <td>{{ vaam.mail_num }}</td>
      <td>{{ vaam.mail_date }}</td>
      <td>{{ vaam.action_date }}</td>
      <td>{{ vaam.code_meli }}</td>
      <td>{{ vaam.mablagh }}</td>
      <td>{{ vaam.modat }}</td>
      <td>{{ vaam.res_type }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
