{% extends 'account/layout.html' %} {% load static %} 
{% block title %} لیست
تفاهم نامه ها {% endblock%} 
{% block head_css %}
<link
  href="{% static 'account/css/datatables/dataTables.bootstrap.css' %}  "
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'account/css/datatables/dataTables.colReorder.min.css' %} "
  rel="stylesheet"
  type="text/css"
/>
{% endblock head_css %} 
{% block content %}
<div class="row">
  <div class="col-md-12">
    <!--Panel-->
    <div class="panel panel-default" id="tabledb1">
      <div class="panel-heading">
        <div class="panel-title">تفاهم نامه ها<small>لیست </small></div>
      </div>
      <div class="panel-body">
        <table id="tafahom-table" class="table table-striped">
          <thead>
            <tr>
              <th>نام</th>
              <th>سمت</th>
              <th>محل کار</th>
              <th>سن</th>
              <th>زمان شروع</th>
              <th>درآمد</th>
            </tr>
          </thead>

          <tfoot>
            <tr>
              <th>نام</th>
              <th>سمت</th>
              <th>محل کار</th>
              <th>سن</th>
              <th>زمان شروع</th>
              <th>درآمد</th>
            </tr>
          </tfoot>

          <tbody>
            <tr>
              <td>تایگر نیکسون</td>
              <td>معمار سیستم</td>
              <td>اندونزی</td>
              <td>61</td>
              <td>2011/04/25</td>
              <td>$320,800</td>
            </tr>
            <tr>
              <td>گریت وینسترs</td>
              <td>کارآموز</td>
              <td>توکیو</td>
              <td>63</td>
              <td>2011/07/25</td>
              <td>$170,750</td>
            </tr>
            <tr>
              <td>آشنون کوکس</td>
              <td>مدیر تولید</td>
              <td>سان فرانسیسکو</td>
              <td>66</td>
              <td>2009/01/12</td>
              <td>$86,000</td>
            </tr>
            <tr>
              <td>روهان داویدسون</td>
              <td>مدیر بخش</td>
              <td>توکیو</td>
              <td>55</td>
              <td>2010/10/14</td>
              <td>$327,900</td>
            </tr>
            <tr>
              <td>کوگل هانتر</td>
              <td>جاوااسکریپت</td>
              <td>سان فرانسیسکو</td>
              <td>39</td>
              <td>2009/09/15</td>
              <td>$205,500</td>
            </tr>
            <tr>
              <td>سونیا فورست</td>
              <td>جاوااسکریپت</td>
              <td>اندونزی</td>
              <td>23</td>
              <td>2008/12/13</td>
              <td>$103,600</td>
            </tr>
            <tr>
              <td>جان جانیس</td>
              <td>جاوااسکریپت</td>
              <td>لندن</td>
              <td>30</td>
              <td>2008/12/19</td>
              <td>$90,560</td>
            </tr>
            <tr>
              <td>کوین فلین</td>
              <td>پشتیبانی</td>
              <td>لندن</td>
              <td>22</td>
              <td>2013/03/03</td>
              <td>$342,000</td>
            </tr>
            <tr>
              <td>چارد مارشال</td>
              <td>کارگردان</td>
              <td>سان فرانسسیسکو</td>
              <td>36</td>
              <td>2008/10/16</td>
              <td>$470,600</td>
            </tr>
            <tr>
              <td>هالرلی کیدین</td>
              <td>مدیر کار پردازی</td>
              <td>لندن</td>
              <td>43</td>
              <td>2012/12/18</td>
              <td>$313,500</td>
            </tr>
            <tr>
              <td>تاتیان فارس</td>
              <td>پذیرش</td>
              <td>لندن</td>
              <td>19</td>
              <td>2010/03/17</td>
              <td>$385,750</td>
            </tr>
            <tr>
              <td>مایکل سیلوا</td>
              <td>بازاریابی</td>
              <td>لندن</td>
              <td>66</td>
              <td>2012/11/27</td>
              <td>$198,500</td>
            </tr>
            <tr>
              <td>پاول بری</td>
              <td>سرآشپز</td>
              <td>نیویورک</td>
              <td>64</td>
              <td>2010/06/09</td>
              <td>$725,000</td>
            </tr>
            <tr>
              <td>گلوریا لیتر</td>
              <td>مدیر سیستم</td>
              <td>نیویورک</td>
              <td>59</td>
              <td>2009/04/10</td>
              <td>$237,500</td>
            </tr>
            <tr>
              <td>بارلی گیر</td>
              <td>مدیر نرم افزار</td>
              <td>لندن</td>
              <td>41</td>
              <td>2012/10/13</td>
              <td>$132,000</td>
            </tr>
            <tr>
              <td>دیا روسی</td>
              <td>مدیر شخصی</td>
              <td>اسکاتلند</td>
              <td>35</td>
              <td>2012/09/26</td>
              <td>$217,500</td>
            </tr>
            <tr>
              <td>جنتی کارلوس</td>
              <td>مدیر کدنویسی</td>
              <td>نیویورک</td>
              <td>30</td>
              <td>2011/09/03</td>
              <td>$345,000</td>
            </tr>
            <tr>
              <td>یوری بری</td>
              <td>مدیر ررستوران</td>
              <td>نیویورک</td>
              <td>40</td>
              <td>2009/06/25</td>
              <td>$675,000</td>
            </tr>
            <tr>
              <td>کاسر ونس</td>
              <td>نگهبانی</td>
              <td>نیویورک</td>
              <td>21</td>
              <td>2011/12/12</td>
              <td>$106,450</td>
            </tr>
            <tr>
              <td>کاسر ونس</td>
              <td>نگهبانی</td>
              <td>سیدنی</td>
              <td>23</td>
              <td>2010/09/20</td>
              <td>$85,600</td>
            </tr>
            <tr>
              <td>آنجلبکا راموس</td>
              <td>سرآشپز</td>
              <td>لندن</td>
              <td>47</td>
              <td>2009/10/09</td>
              <td>$1,200,000</td>
            </tr>
            <tr>
              <td>گاوین جوی</td>
              <td>برنامه نویس</td>
              <td>اسکاتلند</td>
              <td>42</td>
              <td>2010/12/22</td>
              <td>$92,575</td>
            </tr>
            <tr>
              <td>جنیفر چنگ</td>
              <td>پذیرش</td>
              <td>سنگاپور</td>
              <td>28</td>
              <td>2010/11/14</td>
              <td>$357,650</td>
            </tr>
            <tr>
              <td>برنادر وین</td>
              <td>مدیر نرم افزار</td>
              <td>سان فرانسیسکو</td>
              <td>28</td>
              <td>2011/06/07</td>
              <td>$206,850</td>
            </tr>
            <tr>
              <td>فیونا گری</td>
              <td>دستیار اول</td>
              <td>سان فرانسیسکو</td>
              <td>48</td>
              <td>2010/03/11</td>
              <td>$850,000</td>
            </tr>
            <tr>
              <td>شوا آیتون</td>
              <td>بازاری</td>
              <td>توکیو</td>
              <td>20</td>
              <td>2011/08/14</td>
              <td>$163,000</td>
            </tr>
            <tr>
              <td>مایکل هوس</td>
              <td>مدیر اینترنت</td>
              <td>سیدنی</td>
              <td>37</td>
              <td>2011/06/02</td>
              <td>$95,400</td>
            </tr>
            <tr>
              <td>هاردو هافن</td>
              <td>مدیر دفتر</td>
              <td>سان فرانسیسکو</td>
              <td>51</td>
              <td>2008/12/16</td>
              <td>$164,500</td>
            </tr>
            <tr>
              <td>هوپ فونت</td>
              <td>انتظامات</td>
              <td>سان فرانسیسکو</td>
              <td>41</td>
              <td>2010/02/12</td>
              <td>$109,850</td>
            </tr>
            <tr>
              <td>ویوان هارل</td>
              <td>مدیر کنترل</td>
              <td>سان فرانسیسکو</td>
              <td>62</td>
              <td>2009/02/14</td>
              <td>$452,500</td>
            </tr>
            <tr>
              <td>تیموتی مور</td>
              <td>مدیر دفتر</td>
              <td>لندن</td>
              <td>37</td>
              <td>2008/12/11</td>
              <td>$136,200</td>
            </tr>
            <tr>
              <td>جکسون براش</td>
              <td>کارگردان</td>
              <td>نیویورک</td>
              <td>65</td>
              <td>2008/09/26</td>
              <td>$645,750</td>
            </tr>
            <tr>
              <td>الوویا راش</td>
              <td>جاوا نویس</td>
              <td>سنگاپور</td>
              <td>64</td>
              <td>2011/02/03</td>
              <td>$234,500</td>
            </tr>
            <tr>
              <td>برنو نش</td>
              <td>مدیر نرم افزار</td>
              <td>لندن</td>
              <td>38</td>
              <td>2011/05/03</td>
              <td>$163,500</td>
            </tr>
            <tr>
              <td>ساکورا یامو</td>
              <td>جاوا نویس</td>
              <td>توکیو</td>
              <td>37</td>
              <td>2009/08/19</td>
              <td>$139,575</td>
            </tr>
            <tr>
              <td>تو وانت</td>
              <td>برنامه نویس</td>
              <td>نیویورک</td>
              <td>61</td>
              <td>2013/08/11</td>
              <td>$98,540</td>
            </tr>
            <tr>
              <td>فین کاماچ</td>
              <td>جاوا نویس</td>
              <td>سان فرانسیسکو</td>
              <td>47</td>
              <td>2009/07/07</td>
              <td>$87,500</td>
            </tr>
            <tr>
              <td>سر بلدوین</td>
              <td>داده پرداز</td>
              <td>سنگاپور</td>
              <td>64</td>
              <td>2012/04/09</td>
              <td>$138,575</td>
            </tr>
            <tr>
              <td>زندی فرانک</td>
              <td>مدیر نرم افزار</td>
              <td>نیویورک</td>
              <td>63</td>
              <td>2010/01/04</td>
              <td>$125,250</td>
            </tr>
            <tr>
              <td>زوریتا سرا</td>
              <td>مدیر نرم افزار</td>
              <td>سان فرانسیسکو</td>
              <td>56</td>
              <td>2012/06/01</td>
              <td>$115,000</td>
            </tr>
            <tr>
              <td>گالا گر</td>
              <td>مدیر سیستم</td>
              <td>لندن</td>
              <td>21</td>
              <td>2009/02/27</td>
              <td>$103,500</td>
            </tr>
            <tr>
              <td>جیم الکساندر</td>
              <td>برنامه نویس</td>
              <td>سان فرانسیسکو</td>
              <td>30</td>
              <td>2010/07/14</td>
              <td>$86,500</td>
            </tr>
            <tr>
              <td>شاد دارک</td>
              <td>پذیرش</td>
              <td>اسکاتلند</td>
              <td>51</td>
              <td>2008/11/13</td>
              <td>$183,000</td>
            </tr>
            <tr>
              <td>مایکل بری</td>
              <td>جاوا نویس</td>
              <td>سنگاپور</td>
              <td>29</td>
              <td>2011/06/27</td>
              <td>$183,000</td>
            </tr>
            <tr>
              <td>دانا وان</td>
              <td>پشتیبانی</td>
              <td>نیویورک</td>
              <td>27</td>
              <td>2011/01/25</td>
              <td>$112,000</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--/Panel Body-->
    </div>
    <!--/Panel-->
  </div>
</div>


{% endblock content %} 

{% block script %}
<script>
  $(document).ready(function () {
    $("#tafahom-table").DataTable({
        order: [[3, 'desc']],
    });
  });
</script>
<script
  type="text/javascript"
  src="{% static 'account/js/vendors/datatables/datatables-examples.js' %}"
></script>
{% endblock script %}
