{% extends 'tafahom/base.html' %}
{% block title %} {{tafahom.title}} {% endblock%}
{% block content %}
<ul class="row margin-bottom-0">
    <li class="col-md-3 col-sm-6 col-xs-6">
        <div class="text-center panel panel-filled panel-success">
            <div class="panel-body">
                <h5 class="margin-top-0 text-uppercase">سود کلی</h5>
                <span class="indexchart-2">6,6,6,1,0,-1,1,1,6,8</span>
                <span class="margin-top-5px text-xl">12389</span>
                <strong><i class="fa fa-fw fa-arrow-up"></i>2234 امروز</strong>
            </div>
        </div>
    </li>
    <li class="col-md-3 col-sm-6 col-xs-6">
        <div class="text-center panel panel-filled panel-primary">
            <div class="panel-body">
                <h5 class="margin-top-0 text-uppercase">مشتریان</h5>
                <span class="indexchart-2">2,4,5,6,7,10,5,12,14,16</span>
                <span class="margin-top-5px text-xl">14590</span>
                <strong><span class="text-green"><i class="fa fa-fw fa-plus-circle"></i>16</span>
                    امروز</strong>
            </div>
        </div>
    </li>
    <li class="col-md-3 col-sm-6 col-xs-6">
        <div class="text-center panel panel-info panel-filled">
            <div class="panel-body">
                <h5 class="margin-top-0 text-uppercase">حراجی</h5>
                <span class="indexchart-2">2,6,7,8,9,6,3,4,5,6,7,8</span>
                <span class="margin-top-5px text-xl">25645</span>
                <strong><i class="fa fa-fw fa-arrow-up"></i>2234 امروز</strong>
            </div>
        </div>
    </li>

    <li class="col-md-3 col-sm-6 col-xs-6">
        <div class="text-center panel panel-dark panel-filled">
            <div class="panel-body">
                <h5 class="margin-top-0 text-uppercase">ضریب درآمد</h5>
                <span class="indexchart-2">6,7,8,9,11,8,9,10,11,12,14</span>
                <span class="margin-top-5px text-xl">12.9%</span>
                <strong><i class="fa fa-fw fa-arrow-up"></i>0.01% امروز</strong>
            </div>
        </div>
    </li>
</ul>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <!--Panel-->
        <div class="panel" id="big-chart">
            <div class="panel-body">
                <ul class="row margin-0">
                    <li class="col-md-2 col-sm-4 col-xs-6 text-center">
                        <h5 class="margin-top-0 text-uppercase text-muted">مجموع فروش</h5>
                        <span class="indexchart-1">6,2,3,1,5,7,2,3,6,8</span>
                        <span class="margin-0 margin-top-5px text-lg">34M</span>
                        <strong>امروز<span class="text-green"><i
                                    class="fa fa-fw fa-arrow-up"></i>2234</span> </strong>
                    </li>
                    <li class="col-md-2 col-sm-4 col-xs-6 text-center">
                        <h5 class="margin-top-0 text-uppercase text-muted">مشتریان</h5>
                        <span class="indexchart-1">2,4,5,6,7,10,5,12,14,16</span>
                        <span class="margin-0 margin-top-5px text-lg">985</span>
                        <strong>امروز<span class="text-green"><i
                                    class="fa fa-fw fa-plus-circle"></i>16</span> </strong>
                    </li>
                    <li class="col-md-2 col-sm-4 col-xs-6 text-center">
                        <h5 class="margin-top-0 text-uppercase text-muted">فروش</h5>
                        <span class="indexchart-1">2,6,7,8,9,6,3,4,5,6,7,8</span>
                        <span class="margin-0 margin-top-5px text-lg">12672</span>
                        <strong>امروز<span class="text-green"><i
                                    class="fa fa-fw fa-arrow-up"></i>2234</span> </strong>
                    </li>
                    <li class="col-md-2 col-sm-4 col-xs-6 text-center">
                        <h5 class="margin-top-0 text-uppercase text-muted">ضریب نسبی</h5>
                        <span class="indexchart-1">6,7,8,9,11,8,9,10,11,12,14</span>
                        <span class="margin-0 margin-top-5px text-lg">18.5%</span>
                        <strong>امروز<span class="text-green"><i
                                    class="fa fa-fw fa-arrow-up"></i>0,01%</span> </strong>
                    </li>
                    <li class="col-md-2 col-sm-4 col-xs-6 text-center">
                        <h5 class="margin-top-0 text-uppercase text-muted">بازدید برگه</h5>
                        <span class="indexchart-1">6,2,3,1,5,7,2,3,6,8</span>
                        <span class="margin-0 margin-top-5px text-lg">228194</span>
                        <strong>امروز<span class="text-green"><i
                                    class="fa fa-fw fa-arrow-up"></i>1266</span> </strong>
                    </li>
                    <li class="col-md-2 col-sm-4 col-xs-6 text-center">
                        <h5 class="margin-top-0 text-uppercase text-muted">هزینه ترابری</h5>
                        <span class="indexchart-1">4,5,8,9,6,7,8,9,11,12,8,9</span>
                        <span class="margin-0 margin-top-5px text-lg">$8672</span>
                        <strong>امروز<span class="text-green"><i
                                    class="fa fa-fw fa-arrow-down"></i>$125</span> </strong>
                    </li>
                </ul>
            </div>
        </div>
        <!--/Panel-->
    </div>
    <!--/col-->
</div>
<!--/row-->

<div class="row oakenwidgets" id="big-traffic">
    <div class="col-md-12">
        <div class="panel" id="main-demo-statz-panel">
            <div class="panel-heading">
                <div class="panel-title">پیمایش ترافیک
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="flotchart-placeholder">
                            <div id="placeholder9" class="flotchart-container"></div>
                        </div>
                        <ul class="list-unstyled margin-top-20px margin-bottom-0" id="choices">
                            <li class="col-md-2 col-sm-4 text-center">
                                <h6 class="pull-left"><i class="fa fa-fw fa-circle text-orange"></i>آمریکا
                                </h6>
                                <div class="checkbox-toggle-styled-material pull-right tooltiped"
                                    data-toggle="tooltip" data-placement="top" title="پنهان / آشکار">
                                    <input name="usa" checked id="idusa" type="checkbox">
                                    <label for="idusa"></label>
                                </div>
                                <div class="clearfix"></div>
                                <span class="traffic-sparkline-pie">1,3,9</span>
                                <div class="clearfix"></div>
                                <small class="text-muted text-uppercase">میانگین ماهانه</small>
                                <h3 class="margin-0">$18234 <span class="label label-success"><i
                                            class="fa fa-arrow-up"></i> 18%</span></h3>
                            </li>
                            <li class="col-md-2 col-sm-4 text-center">
                                <h6 class="pull-left"><i class="fa fa-fw fa-circle text-blue"></i>چین</h6>
                                <div class="checkbox-toggle-styled-material pull-right tooltiped"
                                    data-toggle="tooltip" data-placement="top" title="پنهان / آشکار">
                                    <input name="china" checked id="idchina" type="checkbox">
                                    <label for="idchina"></label>
                                </div>
                                <div class="clearfix"></div>
                                <span class="traffic-sparkline-pie">3,1,7</span>
                                <div class="clearfix"></div>
                                <small class="text-muted text-uppercase">میانگین ماهانه</small>
                                <h3 class="margin-0">$10844 <span class="label label-danger"><i
                                            class="fa fa-arrow-down"></i> 5%</span></h3>
                            </li>
                            <li class="col-md-2 col-sm-4 text-center">
                                <h6 class="pull-left"><i
                                        class="fa fa-fw fa-circle text-yellow-light"></i>آلمان</h6>
                                <div class="checkbox-toggle-styled-material pull-right tooltiped"
                                    data-toggle="tooltip" data-placement="top" title="پنهان / آشکار">
                                    <input name="germany" checked id="idgermany" type="checkbox">
                                    <label for="idgermany"></label>
                                </div>
                                <div class="clearfix"></div>
                                <span class="traffic-sparkline-pie">3,3,3</span>
                                <div class="clearfix"></div>
                                <small class="text-muted text-uppercase">میانگین ماهانه</small>
                                <h3 class="margin-0">$89234 <span class="label label-danger"><i
                                            class="fa fa-arrow-down"></i> 22%</span></h3>
                            </li>
                            <li class="col-md-2 col-sm-4 text-center">
                                <h6 class="pull-left"><i class="fa fa-fw fa-circle text-green"></i>روسیه
                                </h6>
                                <div class="checkbox-toggle-styled-material pull-right tooltiped"
                                    data-toggle="tooltip" data-placement="top" title="پنهان / آشکار">
                                    <input name="russia" checked id="idrussia" type="checkbox">
                                    <label for="idrussia"></label>
                                </div>
                                <div class="clearfix"></div>
                                <span class="traffic-sparkline-pie">2,3,6</span>
                                <div class="clearfix"></div>
                                <small class="text-muted text-uppercase">میانگین ماهانه</small>
                                <h3 class="margin-0">$12999 <span class="label label-success"><i
                                            class="fa fa-arrow-up"></i> 24%</span></h3>
                            </li>
                            <li class="col-md-2 col-sm-4 text-center">
                                <h6 class="pull-left"><i class="fa fa-fw fa-circle text-dark-blue"></i>هند
                                </h6>
                                <div class="checkbox-toggle-styled-material pull-right tooltiped"
                                    data-toggle="tooltip" data-placement="top" title="پنهان / آشکار">
                                    <input name="india" checked id="idindia" type="checkbox">
                                    <label for="idindia"></label>
                                </div>
                                <div class="clearfix"></div>
                                <span class="traffic-sparkline-pie">1,9,4</span>
                                <div class="clearfix"></div>
                                <small class="text-muted text-uppercase">میانگین ماهانه</small>
                                <h3 class="margin-0">$8793 <span class="label label-warning"><i
                                            class="fa fa-arrow-up"></i> 0,5%</span></h3>
                            </li>
                            <li class="col-md-2 col-sm-4 text-center">
                                <h6 class="pull-left"><i class="fa fa-fw fa-circle text-pink"></i>ایران</h6>
                                <div class="checkbox-toggle-styled-material pull-right tooltiped"
                                    data-toggle="tooltip" data-placement="top" title="پنهان / آشکار">
                                    <input name="others" checked id="idothers" type="checkbox">
                                    <label for="idothers"></label>
                                </div>
                                <div class="clearfix"></div>
                                <span class="traffic-sparkline-pie">2,2,6</span>
                                <div class="clearfix"></div>
                                <small class="text-muted text-uppercase">میانگین ماهانه</small>
                                <h3 class="margin-0">$11654 <span class="label label-success"><i
                                            class="fa fa-arrow-up"></i> 55%</span></h3>
                            </li>
                        </ul>
                        <!--/Row-->
                    </div>
                    <!--/Col-md-12-->
                </div>
            </div>
        </div>
        <!--/Panel-->
    </div>
    <!--/col-md-12-->
</div>
<!--/row-->

<div class="row">
    <div class="col-md-12">
        <!--Panel-->
        <div class="panel panel-default">
            <div class="panel-body">
                <!--Row-->
                <div class="row">
                    <div class="col-md-6">
                        <div id="vmap" class="jqvmap margin-top-10px"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover margin-0px">
                                <tbody>
                                    <tr>
                                        <td><span class="circle-nums">1</span></td>
                                        <td>
                                            <h5 class="margin-0">آمریکا</h5>
                                            <span class="timestamp">آخرین بروز رسانی 12:24</span>
                                        </td>
                                        <td>
                                            <h5 class="margin-0">گوگل<small class="text-muted">گوگل
                                                    آنالیز</small></h5> 892343 <strong
                                                class="text-red">206789 <i
                                                    class="fa fa-arrow-down"></i></strong>
                                        </td>
                                        <td class="text-center"><span
                                                class="table-sparkline-pie2">1,3</span></td>
                                        <td class="text-center"><span
                                                class="table-sparkline-lines">5,6,7,9,9,5,3,2,2,4,6,7</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="circle-nums">2</span></td>
                                        <td>
                                            <h5 class="margin-0">چین</h5>
                                            <span class="timestamp">آخرین بروز رسانی 12:24</span>
                                        </td>
                                        <td>
                                            <h5 class="margin-0">گوگل<small class="text-muted">گوگل
                                                    آنالیز</small></h5> 234234 <strong
                                                class="text-green">12125 <i
                                                    class="fa fa-arrow-up"></i></strong>
                                        </td>
                                        <td class="text-center"><span
                                                class="table-sparkline-pie2">3,5</span></td>
                                        <td class="text-center"><span
                                                class="table-sparkline-lines">9,3,3,2,4,5,6,2,8,4,9,0</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="circle-nums">3</span></td>
                                        <td>
                                            <h5 class="margin-0">آلملن</h5>
                                            <span class="timestamp">آخرین بروز رسانی 12:24</span>
                                        </td>
                                        <td>
                                            <h5 class="margin-0">گوگل<small class="text-muted">گوگل
                                                    آنالیز</small></h5> 589666 <strong
                                                class="text-red">542313 <i
                                                    class="fa fa-arrow-down"></i></strong>
                                        </td>
                                        <td class="text-center"><span class="table-sparkline-pie">3,1</span>
                                        </td>
                                        <td class="text-center"><span
                                                class="table-sparkline-lines">5,6,7,9,9,5,3,2,8,4,6,7</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="circle-nums">4</span></td>
                                        <td>
                                            <h5 class="margin-0">روسیه</h5>
                                            <span class="timestamp">آخرین بروز رسانی 12:24</span>
                                        </td>
                                        <td>
                                            <h5 class="margin-0">گوگل<small class="text-muted">گوگل
                                                    آنالیز</small></h5> 589666 <strong
                                                class="text-red">542313 <i
                                                    class="fa fa-arrow-down"></i></strong>
                                        </td>
                                        <td class="text-center"><span
                                                class="table-sparkline-pie2">4,5</span></td>
                                        <td class="text-center"><span
                                                class="table-sparkline-lines">5,6,7,9,9,5,3,9,2,4,6,7</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="circle-nums">5</span></td>
                                        <td>
                                            <h5 class="margin-0">هند</h5>
                                            <span class="timestamp">آخرین بروز رسانی 12:24</span>
                                        </td>
                                        <td>
                                            <h5 class="margin-0">گوگل<small class="text-muted">گوگل
                                                    آنالیز</small></h5> 589666 <strong
                                                class="text-red">542313 <i
                                                    class="fa fa-arrow-down"></i></strong>
                                        </td>
                                        <td class="text-center"><span
                                                class="table-sparkline-pie2">3,7</span></td>
                                        <td class="text-center"><span
                                                class="table-sparkline-lines">5,6,7,9,9,5,3,2,2,4,6,7</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="circle-nums">6</span></td>
                                        <td>
                                            <h5 class="margin-0">ایران</h5>
                                            <span class="timestamp">آخرین بروز رسانی 12:24</span>
                                        </td>
                                        <td>
                                            <h5 class="margin-0">گوگل<small class="text-muted">گوگل
                                                    آنالیز</small></h5> 101223 <strong
                                                class="text-green">222323<i
                                                    class="fa fa-arrow-up"></i></strong>
                                        </td>
                                        <td class="text-center"><span class="table-sparkline-pie">2,8</span>
                                        </td>
                                        <td class="text-center"><span
                                                class="table-sparkline-lines">5,6,7,2,4,5,1,2,8,4,6,9</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Panel-->
    </div>
    <!--/col-md-12-->
</div>
<!--/row-->


<div class="row">
    <div class="col-sm-3 col-xs-6">
        <!--Panel-->
        <div class="panel" id="chartjs-index">
            <div class="overlay-wrapper">
                <div class="panel-body">

                    <div class="chartjs-container">
                        <canvas id="chartjs-doughnut-index" height="330" width="330"></canvas>
                    </div>

                    <ul class="fa-ul margin-top-20px margin-bottom-0">
                        <li class="margin-bottom-10px"><i class="fa-li fa fa-circle text-darkblue"></i>
                            <h5 class="margin-0">اکسپلورر</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 41.33% |
                                <span class="text-red"><i class="fa fa-arrow-down"></i> -4%</span></span>
                        </li>
                        <li class="margin-bottom-10px"><i class="fa-li fa fa-circle-o text-blue"></i>
                            <h5 class="margin-0">گوگل چروم</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 41.71% |
                                <span class="text-marine"><i class="fa fa-arrow-up"></i> +3.4%</span></span>
                        </li>
                        <li class="margin-bottom-10px"><i class="fa-li fa fa-circle-o text-orange"></i>
                            <h5 class="margin-0">موزیلا</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 10.06% |
                                <span class="text-marine"><i class="fa fa-arrow-up"></i> +6.1%</span></span>
                        </li>
                        <li class="margin-bottom-10px"><i class="fa-li fa fa-circle-o text-green"></i>
                            <h5 class="margin-0">اپل سافاری</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 4.47% |
                                <span class="text-marine"><i class="fa fa-arrow-up"></i> +9%</span></span>
                        </li>
                        <li><i class="fa-li fa fa-circle-o"></i>
                            <h5 class="margin-0">دیگر</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 2.43% |
                                <span class="text-red"><i class="fa fa-arrow-down"></i> -3.2%</span></span>
                        </li>
                    </ul>
                </div>
                <div class="overlayStyleH"></div>
                <div class="StyleAl"> <span class="WhiteRounded"><a href="#"><i
                                class="fa fa-search"></i></a></span><span class="WhiteRounded"><a
                            href="#"><i class="fa fa-link"></i></a> </span>
                </div>
            </div>
            <!--/Panel Body-->
        </div>
        <!--/Panel-->
    </div>
    <!--/col-->


    <div class="col-sm-3 col-xs-6">
        <!--Panel-->
        <div class="panel" id="chartjs-index-2">
            <div class="overlay-wrapper">
                <div class="panel-body">

                    <div class="chartjs-container">
                        <canvas id="chartjs-doughnut-index-2" height="330" width="330"></canvas>
                    </div>

                    <ul class="fa-ul margin-top-20px margin-bottom-0">
                        <li class="margin-bottom-10px"><i class="fa-li fa fa-circle text-darkblue"></i>
                            <h5 class="margin-0">سامسونگ</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 22.3% |
                                <span class="text-red"><i class="fa fa-arrow-down"></i> -2.2%</span></span>
                        </li>
                        <li class="margin-bottom-10px"><i class="fa-li fa fa-circle-o text-red"></i>
                            <h5 class="margin-0">اپل</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 12.9% |
                                <span class="text-marine"><i class="fa fa-arrow-up"></i> +7.4%</span></span>
                        </li>
                        <li class="margin-bottom-10px"><i class="fa-li fa fa-circle-o text-orange"></i>
                            <h5 class="margin-0">هوآوی</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 8.9% |
                                <span class="text-marine"><i class="fa fa-arrow-up"></i> +1.1%</span></span>
                        </li>
                        <li class="margin-bottom-10px"><i class="fa-li fa fa-circle-o text-green"></i>
                            <h5 class="margin-0">ال جی</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 5.4% |
                                <span class="text-marine"><i class="fa fa-arrow-up"></i> +2%</span></span>
                        </li>
                        <li><i class="fa-li fa fa-circle-o"></i>
                            <h5 class="margin-0">دیگر</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 46% | <span
                                    class="text-red"><i class="fa fa-arrow-down"></i> -7.6%</span></span>
                        </li>
                    </ul>
                </div>
                <div class="overlayStyleH"></div>
                <div class="StyleAl"> <span class="WhiteRounded"><a href="#"><i
                                class="fa fa-search"></i></a></span><span class="WhiteRounded"><a
                            href="#"><i class="fa fa-link"></i></a> </span>
                </div>
            </div>
            <!--/Panel Body-->
        </div>
        <!--/Panel-->
    </div>
    <!--/col-->

    <div class="clearfix visible-xs"></div>

    <div class="col-sm-3 col-xs-6">
        <!--Panel-->
        <div class="panel" id="chartjs-index-3">
            <div class="overlay-wrapper">
                <div class="panel-body">

                    <div class="chartjs-container">
                        <canvas id="chartjs-doughnut-index-3" height="330" width="330"></canvas>
                    </div>

                    <ul class="fa-ul margin-top-20px margin-bottom-0">
                        <li class="margin-bottom-10px"><i class="fa-li fa fa-circle text-darkblue"></i>
                            <h5 class="margin-0">اندروید</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 64.42% |
                                <span class="text-red"><i class="fa fa-arrow-down"></i> -4.8%</span></span>
                        </li>
                        <li class="margin-bottom-10px"><i class="fa-li fa fa-circle-o text-red"></i>
                            <h5 class="margin-0">آی او اس</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 23.97% |
                                <span class="text-marine"><i class="fa fa-arrow-up"></i> +8.4%</span></span>
                        </li>
                        <li class="margin-bottom-10px"><i class="fa-li fa fa-circle-o text-orange"></i>
                            <h5 class="margin-0">ویندوز</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 1.68% |
                                <span class="text-marine"><i class="fa fa-arrow-up"></i>
                                    +0.11%</span></span>
                        </li>
                        <li class="margin-bottom-10px"><i class="fa-li fa fa-circle-o text-green"></i>
                            <h5 class="margin-0">بلک بری</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 0.47% |
                                <span class="text-marine"><i class="fa fa-arrow-up"></i>
                                    +0.12%</span></span>
                        </li>
                        <li><i class="fa-li fa fa-circle-o"></i>
                            <h5 class="margin-0">دیگر</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 18% | <span
                                    class="text-red"><i class="fa fa-arrow-down"></i> -5.2%</span></span>
                        </li>
                    </ul>
                </div>
                <div class="overlayStyleH"></div>
                <div class="StyleAl"> <span class="WhiteRounded"><a href="#"><i
                                class="fa fa-search"></i></a></span><span class="WhiteRounded"><a
                            href="#"><i class="fa fa-link"></i></a> </span>
                </div>
            </div>
            <!--/Panel Body-->
        </div>
        <!--/Panel-->
    </div>
    <!--/col-->


    <div class="col-sm-3 col-xs-6">
        <!--Panel-->
        <div class="panel" id="chartjs-index-4">
            <div class="overlay-wrapper">
                <div class="panel-body">

                    <div class="chartjs-container">
                        <canvas id="chartjs-doughnut-index-4" height="330" width="330"></canvas>
                    </div>

                    <ul class="fa-ul margin-top-20px margin-bottom-0">
                        <li class="margin-bottom-10px"><i class="fa-li fa fa-circle text-darkblue"></i>
                            <h5 class="margin-0">مرد</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 45% | <span
                                    class="text-red"><i class="fa fa-arrow-down"></i> -6.2%</span></span>
                        </li>
                        <li class="margin-bottom-10px"><i class="fa-li fa fa-circle-o text-red"></i>
                            <h5 class="margin-0">زن</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 25% | <span
                                    class="text-marine"><i class="fa fa-arrow-up"></i> +3.9%</span></span>
                        </li>
                        <li class="margin-bottom-10px"><i class="fa-li fa fa-circle-o text-orange"></i>
                            <h5 class="margin-0">نوجوان</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 15% | <span
                                    class="text-marine"><i class="fa fa-arrow-up"></i> +16.1%</span></span>
                        </li>
                        <li class="margin-bottom-10px"><i class="fa-li fa fa-circle-o text-green"></i>
                            <h5 class="margin-0">کهنسال</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 5% | <span
                                    class="text-marine"><i class="fa fa-arrow-up"></i> +7.1%</span></span>
                        </li>
                        <li><i class="fa-li fa fa-circle-o"></i>
                            <h5 class="margin-0">دیگر</h5>
                            <span class="small text-uppercase text-muted"><strong>درصد:</strong> 5% | <span
                                    class="text-red"><i class="fa fa-arrow-down"></i> -1.2%</span></span>
                        </li>
                    </ul>
                </div>
                <div class="overlayStyleH"></div>
                <div class="StyleAl"> <span class="WhiteRounded"><a href="#"><i
                                class="fa fa-search"></i></a></span><span class="WhiteRounded"><a
                            href="#"><i class="fa fa-link"></i></a> </span>
                </div>
            </div>
            <!--/Panel Body-->
        </div>
        <!--/Panel-->
    </div>
    <!--/col-->


</div>
<!--/row-->
{% endblock %}