{% extends 'account/layout.html' %} 
{% load jalali_tags humanize mathfilters %}
{% load static %} 
{% block title %}
لیست
تفاهم نامه ها 
{% endblock%} 
{% block head_css %}
<link
  href="{% static 'account/css/datatables/dataTables.bootstrap.css' %}  "
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'account/css/datatables/dataTables.colReorder.min.css' %} "
  rel="stylesheet"
  type="text/css"
/>
{% endblock head_css %} 
{% block content %}
<div class="row">
  <form method="GET" >
    {% csrf_token %}
    <fieldset>
      <div class="col-md-6">
        <div class="form-group">
          <input  id="search_tafahom"  name="search_tafahom"    placeholder="جستجو نام یا شماره تفاهم نامه" class="form-control" type="text" />
        </div>
      </div>
      <button type="submit" class="btn btn-success">جستجو</button>
    </fieldset>
</form>
</div>
<div class="row">
  <div class="col-md-12">
    <!--Panel-->
    <div class="panel panel-default" id="tabledb1">
      <div class="panel-heading">
        <div class="panel-title">تفاهم نامه ها<small>لیست </small></div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
        <table id="tafahom-table" class="table table-hover table-striped">
          <thead>
            <tr>
              <th>عنوان</th>
              <th>تاریخ صدور</th>
              <th>تاریخ ابطال</th>
              <th>نوع تخصیص</th>
              <th>جمع تخصیص</th>
              <th>تسهیلات پرداختی</th>
              <th>مانده تخصیص</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in object_list %}
            <tr>
              <td rowspan="3"><a href="{% url 'tafahom:detail' obj.pk %}">{{ obj }}</a></td>
              <td rowspan="3">{{obj.createDate|to_jalali:'%Y/%m/%d'}}</td>
              <td rowspan="3">
                {% if obj.is_expiered %}
                  <span class="label label-danger " > {{obj.expirDate|to_jalali:'%Y/%m/%d'}} </span>
                {% else %}
                <span class="label label-success " >{{obj.expirDate|to_jalali:'%Y/%m/%d'}}</span>
                {% endif %}</td>
              <td>جمع کل</td>
              <td>{{obj.total_res|intcomma:False}}</td>
              <td>{{obj.total_vaam|intcomma:False}}</td>
              <td>
                {% if obj.remain_res < 0 %}
                  <span class="label label-danger " > {{obj.remain_res|intcomma:False}} </span>
                {% else %}
                <span class="label label-success " >{{obj.remain_res|intcomma:False}}</span>
                {% endif %}

              </td>
            </tr>

            {% for tvrpt in obj.totals_vaam_PRT %}
            {% for trrpt in obj.totals_res_PRT %}
            {% if tvrpt.res_type__title == trrpt.res_type__title %}
            <tr>
              <td>{{tvrpt.res_type__title }}</td>
              <td>{{trrpt.total_mablagh |intcomma:False}}</td>
              <td>{{tvrpt.total_mablagh |intcomma:False}}</td>
              <td>
                {% if trrpt.total_mablagh|sub:tvrpt.total_mablagh < 0 %}
                  <span class="label label-danger " > {{trrpt.total_mablagh|sub:tvrpt.total_mablagh |intcomma:False}} </span>
                {% else %}
                <span class="label label-success " >{{trrpt.total_mablagh|sub:tvrpt.total_mablagh |intcomma:False}}</span>
                {% endif %}

              </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
            
            {% empty %}
            <p>موردی یافت نشد!</p>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
      <!--/Panel Body-->
    </div>
    <!--/Panel-->
  </div>
</div>

{% endblock content %} 
{% block script %}
<script>
  $(document).ready(function () {
    $("#tafahom-table").DataTable({
      order: [[3, "desc"]],
    });
  });
</script>
<script
  type="text/javascript"
  src="{% static 'account/js/vendors/datatables/datatables-examples.js' %}"
></script>
{% endblock script %}
