{% extends 'account/layout.html' %} 
{% load static %} 
{% block title %}
لیست
تفاهم نامه ها 
{% endblock%} 
{% block head_css %}
<link
  href="{% static 'account/css/datatables/dataTables.bootstrap.css' %}  "
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'account/css/datatables/dataTables.colReorder.min.css' %} "
  rel="stylesheet"
  type="text/css"
/>
{% endblock head_css %} 
{% block content %}
<div class="row">
  <div class="col-md-12">
    <!--Panel-->
    <div class="panel panel-default" id="tabledb1">
      <div class="panel-heading">
        <div class="panel-title">تفاهم نامه ها<small>لیست </small></div>
      </div>
      <div class="panel-body">
        <table id="tafahom-table" class="table table-striped">
          <thead>
            <tr>
              <th>عنوان</th>
              <th>تاریخ صدور</th>
              <th>تاریخ ابطال</th>
              <th>ردیف وام</th>
              <th>شماره حساب</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in object_list %}
            <tr>
              <td><a href="{% url 'tafahom:detail' obj.pk %}">{{ obj }}</a></td>
              <td>{{obj.createDate}}</td>
              <td>{{obj.expirDate}}</td>
              <td>{{obj.loanRow}}</td>
              <td>{{obj.hesab}}</td>
            </tr>
            {% empty %}
            <p>موردی یافت نشد!</p>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!--/Panel Body-->
    </div>
    <!--/Panel-->
  </div>
</div>

{% endblock content %} 
{% block script %}
<script>
  $(document).ready(function () {
    $("#tafahom-table").DataTable({
      order: [[3, "desc"]],
    });
  });
</script>
<script
  type="text/javascript"
  src="{% static 'account/js/vendors/datatables/datatables-examples.js' %}"
></script>
{% endblock script %}
