<!-- Sidebar Wrapper-->
<nav class="sidebar-wrapper navbar sidebar">
  <div class="sidebar-inner">
    <ul class="nav" id="side-menu">
      <li class="active">
        <a href="{% url 'account:home' %}"
          ><i class="dripicons-home"></i><span class="li-text">پیشخوان</span></a
        >
      </li>
      <li>
        <a href="#"
          ><i class="dripicons-article"></i><span class="li-text">تفاهم نامه ها</span
            ><span class="fa arrow"></span
        ></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="{% url 'tafahom:home' %} "><span class="li-text">لیست تفاهم نامه ها</span></a>
          </li>
          <li>
            <a href="widgets-panels.html"
              ><span class="li-text">پورتلت</span></a
            >
          </li>
          <li>
            <a href="widgets-vol-1.html"><span class="li-text">ابزارک</span></a>
          </li>
          <li>
            <a href="widgets-vol-2.html"
              ><span class="li-text">ابزارک 2</span></a
            >
          </li>
          <li>
            <a href="widgets-vol-3.html"
              ><span class="li-text">ابزارک 3</span
              ><span class="badge">جدید</span></a
            >
          </li>
        </ul>
      </li>
      
    </ul>
  </div>
</nav>
<!-- /#sidebar-wrapper -->
