<!-- Sidebar Wrapper-->

<nav class="sidebar-wrapper navbar sidebar">
  <div class="sidebar-inner">
    <ul class="nav" id="side-menu">
      <li class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
        <a href="{% url 'account:home' %}"><i class="dripicons-home"></i><span class="li-text">پیشخوان</span></a
        >
      </li>
      <li class="{% if request.resolver_match.app_name == 'tafahom' %}active{% endif %}">
        <a href="#"
          ><i class="dripicons-article"></i><span class="li-text">تفاهم نامه ها</span
            ><span class="fa arrow"></span
        ></a>
        <ul class="nav nav-second-level">
          <li class="{% if request.resolver_match.url_name == 'list' %}active{% endif %}">
            <a  href="{% url 'tafahom:list' %} "><span class="li-text">لیست تفاهم نامه ها</span></a>
          </li>
          <li class="{% if request.resolver_match.url_name == 'edit' %}active{% endif %}">
            <a  href="{% url 'tafahom:edit' %} "><span class="li-text">ویرایش تفاهم نامه ها</span></a>
          </li>
        </ul>
      </li>
      
    </ul>
  </div>
</nav>
<!-- /#sidebar-wrapper -->
